<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Play cards</title>
        <style>
        .card
        {
            font-size: 1.5em;
            background-color:green;
            width: 50px;
            height: 80px;
            float: left;
            margin:5px;
            display: flex;
              align-items: center;
              justify-content: center;
        }
        #sorted{
            clear: both;
        }
        #title{
            clear: both;
        }
        .begin{
            clear: both;
        }
        .heart
        {
            color:red;
        }
        .diamond
        {
            color:red;
        }

        </style>
    </head>
    <body>

      {% for result in results %}
        {% if result.error == false %}
        <div class='begin'>
            Iteration : {{ loop.index }}

        </div>
        <div>
            Category order :
            {% for value in result.distribution.data.categoryOrder %}
                {{ value }}
            {% endfor %}
        </div>
        <div>
            Height order :
            {% for value in result.distribution.data.valueOrder %}
                {{ value }}
            {% endfor %}
        </div>
        <div id="title">
            Hand input :
        </div>
        <div id="distribution">
            {% for card in result.distribution.data.cards %}
                <div class="card {{ card.category|lower }}">
            {{ height[card.value] }} {{ categories[card.category] }}
                </div>
            {% endfor %}
        </div>
        <div id="title">
            Hand output :
        </div>
        <div id="sorted">
            {% for card in result.sorted %}
                <div class="card {{ card.category|lower }}">
            {{ height[card.value] }} {{ categories[card.category] }}
            </div>
            {% endfor %}
        </div>
{% else %}
<div>

        {{ result.error }}
    </div>
{% endif %}
{% endfor %}
    </body>
</html>
